.box {
    margin: 1rem;
    padding: .5rem;
    width: 50%;
    height: 300px;
}

.weekly h3,
.daily h3 {
    padding: 1px;
    background-color: rgb(173, 173, 173);
    color: rgb(16, 16, 90);
}

.weekly,
.daily {
    background-color: aliceblue;
    text-align: left;
    padding: .2rem;
    -webkit-box-shadow: 10px 11px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 17px -11px rgba(0, 0, 0, 0.75);
}

.weekly p,
.daily p {
    text-align: left;
    padding: 5px;
    text-transform: capitalize;
    background: rgb(173, 173, 173);
}