.box {
    margin: 1rem;
    padding: .5rem;
    width: 50%;
    height: 320px;
    overflow-y:scroll;
}

.weekly h3,
.daily h3 {
    padding: 2px;
    background-color: rgb(173, 173, 173);
    color: rgb(16, 16, 90);
}

.weekly,
.daily {
    background-color: aliceblue;
    text-align: left;
    padding: .2rem;
    -webkit-box-shadow: 10px 11px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 17px -11px rgba(0, 0, 0, 0.75);
}

.items {
    text-align: left;
    padding: 5px;
    text-transform: capitalize;
    background: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.items >* {
    padding: 1px;
}
.time {
    color: rgb(226, 67, 67);
}
.author {
    color: rgb(66, 66, 228);
}