.scrumboard {
    width: 100%;
    height: 100vh;
}

nav {
    background-color:rgb(16, 16, 90);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    color: wheat;
    padding: 1rem;
}
.var {
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    align-items: flex-start;
}
.var p {
    padding: 3px;
}
.show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.header h5{
    font-weight: 400;
    font-size: 15px;
    padding: 1rem;
}
#close {
    cursor: pointer;
    opacity: .7;
    border: 1px solid rgb(173, 173, 173);
    padding: 1px;
    border-radius: 5px;
}
#close:hover {
    color: rgb(139, 23, 23);
}
.hidden {
    display: none;
}
/* .box {
padding: 50px;
} */
.welcome {
    font-size: 20px;
    font-weight: 600;
    opacity: .9;
    margin-bottom: 1rem;
}
.scrum_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#modal {
    border: 1px solid rgb(223, 226, 236);
    padding: 1rem 1rem 3rem 1rem;
}
#modal button {
    width: 100%;
}
#modal input {
    text-align: left;
}
.add {
    margin-top: 1rem;
}