/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

input[type=text],
input[type=password],
input[type=email],
select {
    width: 300px;
    margin: 10px 0;
    padding: 10px;
    outline: none;
}

button{
    width: 20%;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 16, 90);
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: white;
    color: rgb(16, 16, 90);
    border: 1px solid rgb(16, 16, 90);
}

h1, h3 {
    opacity: .7;
}


.label {
    display: inline-block;
    width: 100%;
    color: rgb(16, 16, 90);
    text-align: left;
    font-weight: 500;
}
button a {
    color: white;
}
button:hover a {
    color: rgb(16, 16, 90);
} */

.form_container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 3rem;
   border: 1px solid rgb(233, 233, 233);
   padding: 1rem;
   background-color: aliceblue;
}
.form_container h1, .form_container h3 {
    margin: 1rem;
}
.form_container h1 {
    font-weight: 400;
}
.form_container h3 {
margin-bottom: 2rem;
}
.inputs {
    text-align: left;
    width: 100%;
    padding: 10px;
}
.form_container label{
    padding: 3px;
}
.message {
    color: red;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    width:50%;
}
.form_container button {
    width: 100%;
}
.form_container input {
    text-align: left;
}
.form_footer {
margin: 10px;
}
.form_footer >* {
    padding: .5rem;
}